# Build
target/
*.class

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.factorypath

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cấu hình local - KHÔNG ĐƯỢC PUSH LÊN GIT
src/main/resources/application.properties
src/main/resources/application-test.properties
src/main/resources/application-local.properties
src/main/resources/application-dev.properties

# Database credentials & local setup
*.env
.env
.env.*

# Thư mục upload
uploads/
!uploads/.gitkeep

# IDE files
.mtj.tmp/
*.sublime-workspace
*.sublime-project
.springBeans

# Temporaries
*.swp
*~
*.bak

